<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Gallery</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Mars Rover Images</h1>
    <div class="image-gallery">
        {% for image_url in image_urls %}
            <div class="image-item">
                <img src="{{ image_url }}" alt="Image">
            </div>
        {% endfor %}
    </div>
</body>
</html>
